@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

.title{
    color: #22ACEA;
    font-family: Nunito;
    font-size: 36px;
    font-style: bold;
    text-align-last: center;
}

.navbar{
    background: #22ACEA;
    height: 75px;
}

.link{
    color: #ffffff;
    font-family: Nunito;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 120px;
}

.left-col {
    float: left;
    width: 50%;
}

.right-col{
    float: right;
    width: 50%;
}

.meme-selection {
    width: 50px;
    height: 50px;
  }

.link:active{
    background-color: #0073a8;
}
.link:hover{
    font-weight: bold;
}
.selected{
    background-color: #0073a8;
}

#links-section{
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    justify-content: center;
    width: 20%;
}

#acm{
    color: #ffffff;
    font-family: Nunito;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    height: 50px;
    line-height: 50%;
    position: absolute;
    width: 450px;
    padding-left: 10px;
}